<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.ColorPicker.Trial" version="20.2.27" targetFramework="net461" />
  <package id="Infragistics.WPF.Slider.Trial" version="20.2.27" targetFramework="net461" />
  <package id="Infragistics.WPF.Trial" version="20.2.27" targetFramework="net461" />
</packages>